body {
  background: linear-gradient(
    135deg,
    rgba(242, 160, 255, 0.7),
    rgba(155, 230, 255, 0.7)
  );
}

.container {
  display: flex;
  justify-content: space-between;
}

.left-container {
  z-index: 1;
  position: fixed;
  bottom: 5%;
  left: 10px;
  margin-left: 2%;
  height: 90%;
  width: 55%;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: linear-gradient(
    135deg,
    rgba(80, 0, 128, 0.35),
    rgba(80, 0, 128, 0.85)
  );

  clip-path: polygon(75% 0%, 100% 52%, 75% 100%, 0% 100%, 0 51%, 0% 0%);
}

.right-container {
  z-index: 0;
  position: fixed;
  bottom: 5%;
  right: 10px;
  margin-right: 2%;
  height: 90%;
  width: 55%;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: linear-gradient(
    135deg,
    rgba(0, 64, 128, 0.25),
    rgba(0, 64, 128, 0.85)
  );
}

.image-display-block {
  margin: 20px;
  width: 55%;
  height: 55%;

  background: linear-gradient(135deg, rgba(1, 1, 1, 0.1), rgba(1, 1, 1, 0.15));
  border-radius: 20px;
}

.result-content {
  position: absolute;
  right: 0;
  margin: 20px;
  width: 55%;
  height: 55%;

  background: linear-gradient(135deg, rgba(1, 1, 1, 0.1), rgba(1, 1, 1, 0.15));
  border-radius: 20px;
}

/* @media screen and (min-width: 200px) and (max-width: 500px){

} */
